/* Header starts here */
header{
    width: 1440px;
    margin-inline: auto;
    background-color: #2A9D8F;
    padding: 38px 130px;
}
.logo{
    vertical-align: middle;
}
nav{
    vertical-align: middle;
    display: inline-block;
    margin-left: 357px;
}
ul{
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    
}
li{
    display: inline-block;
}
.navigation{
    color: #F5F5F5;
    margin-right: 51px;
    font-family: 'Nerko One', cursive;
}
.header_button{
    font-size: 20px;
    padding: 8px 16px;
    vertical-align: middle;
    color: #2A9D8F;
    background-color: #FFFFFF;
    border: none;
    margin-left: 200px;
    font-family: 'Poppins', sans-serif;
}
/* Header ends here */
/* article starts here */
article,
.article2{
    margin-top: 200px;
    margin-inline: auto;
    text-align: center;
    padding-inline: 330px;
    width: 1440px;
}
.Kami{
    font-size: 48px;
    font-weight: 500;
    color: #4D4D4D;
    display: inline-block;
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}
.paragraph1,
.paragraph2 {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    color: #656565;
    font-family: 'Nerko One', cursive;

}
.paragraph1{
    margin-bottom: 52px ;
}
/* article ends here */
/* Section starts here */
section{
    width: 1440px;
    background-color: #C2F3EE;
    padding: 80px 130px;
    margin-top: 225px;
    margin-inline: auto;
}
.sect1{
    display: inline-block;
    margin-left: 100px;
    width: 457px;
    vertical-align: top
}
.section_header1{
    font-size: 32px;
    font-weight: 500;
    color: #272727;
    margin-bottom: 27px;
    font-family: 'Poppins', sans-serif;
}
.paragraph3{
    font-size: 18px;
    font-weight: 400;
    color: #515151;
    margin-bottom: 45px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
}
.nature{
    vertical-align: middle;
}
.section_button{
    padding: 11px 16px;
    color: #FFFFFF;
    background-color: #2A9D8F;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;


}
/* Section ends here */
/* Article 2 starts here */
.article2{
    padding-inline: 130px;
    margin-top: 175px;
}
.article2_header{
    color: #4D4D4D;
    font-size:48px;
    font-weight: 500;
    margin-bottom: 54px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.paragraph_img1,
.paragraph_img2{
    display: inline-block;
    text-align: start;
}
.paragraph_img2{
    margin-left: 20px;
}
.nature2,
.nature1{
    width: 440px;
}
.paragraph4,
.paragraph5{
    font-size: 22px;
    font-weight: 400;
    color: #535353;
    margin-top: 32px;
    font-family: 'Poppins', sans-serif;
}
/* Article 2 ends here */
/* footer starts here */
footer{
    margin-top: 200px;
    width: 1440px;
    margin-inline: auto;
    background-color: #2A9D8F;
    padding: 90px 130px;
}
.Posts,
.Programs,
.Support{
    display: inline-block;
    vertical-align: top;
}
.Posts_1,
.Support_1,
.Program_1
{
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 21px;
    font-family: 'Poppins', sans-serif;
}
.Posts{
    margin-left: 630px;
}
.logo2{
    vertical-align: top;
}
.Programs{
    margin-inline: 50px;
}

.Posts{
    width: 60px;
}
.Programs{
    width: 140px;
}
.Support{
    width: 140px;
}
.mid{
    margin-top: 8px;
    margin-bottom: 8px;
}