/* Header starts here */
header{
    width: 1440px;
    margin-inline: auto;
    background-color: #2A9D8F;
    padding: 38px 130px;
}
.logo{
    vertical-align: middle;
}
nav{
    vertical-align: middle;
    display: inline-block;
    margin-left: 357px;
}
ul{
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    
}
li{
    display: inline-block;
}
.navigation{
    color: #F5F5F5;
    margin-right: 51px;
}
button{
    font-size: 20px;
    padding: 8px 16px;
    vertical-align: middle;
    color: #2A9D8F;
    background-color: #FFFFFF;
    border: none;
    margin-left: 200px;
}
/* Header ends here */

/* article starts here */

article{
    margin-top: 200px;
    margin-inline: auto;
    text-align: center;
    padding-inline: 330px;
}

.Kami{
    font-size: 48px;
    font-weight: 500;
    color: #4D4D4D;
    display: inline-block;
    margin-bottom: 60px;
}

.paragraph1,
.paragraph2 {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    color: #656565;
}
.paragraph1{
    margin-bottom: 52px ;
}
/* article ends here */
